@model CEGIS_Project_ProgressApp.Models.UpdateHistory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UpdateHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectInfos.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectInfos.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgressTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgressTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
